<div class="container">
  <div class="card add-margin-top-sm" *ngFor="let mentorSearchResult of mentorSearchResults; let i = index;">
      <div class="card-body">
        <div class="row">
          <div class="col-md-3">
              <img src="assets/images/mentor_img.png" class="rounded card-img-top" alt="image" height="150" width="38">
          </div>
          <div class="col-md-7">
            <p class="card-title"><b>{{ mentorSearchResult.mentorFirstName + " " + mentorSearchResult.mentorLastName }}</b> | <small>{{mentorSearchResult.mentor.username}} | {{mentorSearchResult.contactNo}}</small></p>
            <p class="card-text">
              <small>
                <b>Introduction</b>
                <br>
                  {{mentorSearchResult.mentor.introduction}}
              </small>
            </p>
            <div class="row">
                <div class="col-md-4">
                    <p class="card-text"><small><b>Skill Name: </b>{{mentorSearchResult.skill.name}}</small></p>
                </div>
                <div class="col-md-4">
                    <p class="card-text"><small><b>Years of Experience: </b>{{mentorSearchResult.mentorSkill.yearOfExperience}}</small></p>
                </div>
                <div class="col-md-4">
                    <p class="card-text"><small><b>Rate/Hour: </b>{{mentorSearchResult.mentorSkill.hourlyRate}}</small></p>
                </div>
            </div>
          </div>
          <div class="col-md-2">
              <small><b>Self Rating</b></small><br>
                <ng-template #t let-fill="fill">
                  <span class="star" [class.full]="fill === 100">
                    <span class="half" [style.width.%]="fill">&hearts;</span>&hearts;
                  </span>
                </ng-template>
                <ngb-rating [(rate)]="mentorSearchResult.mentorSkill.selfRating" [starTemplate]="t" [readonly]="true" max="5"></ngb-rating> 
              <button type="button" class="btn btn-primary btn-block" id="{{ 'btn-viewMentor-' +  mentorSearchResult.mentorSkill.id}}" (click)="viewMentor(mentorSearchResult)">View Profile</button>
          </div>
        </div>
      </div>
  </div>
</div>