<table class="table table-striped table-condensed">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Training ID</th>
      <th scope="col">Skill/Technology</th>
      <th scope="col">Mentor Name</th>
      <th scope="col">Start Date</th>
      <th scope="col">End Date</th>
      <th scope="col">Start Time</th>
      <th scope="col">End Time</th>
      <th scope="col">Days of Class</th>
      <th scope="col">Current Progress</th>
      <th scope="col">Status</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let training of userTrainings; index as row">
      <th scope="row">{{ row + 1 }}</th>
      <td>{{ training.id }}</td>
      <td>[TODO] - Skill name</td>
      <td>[TODO] - Mentor name</td>
      <td>{{ training.startDate }}</td>
      <td>{{ training.endDate }}</td>
      <td>{{ training.startTime }}</td>
      <td>{{ training.endTime }}</td>
      <td>{{ training.daysOfSession }}</td>
      <td>{{ training.progress }}</td>
      <td>{{ training.status }}</td>
      <td>
          <button *ngIf="training.status === 'Confirmed'" (click)="finalizeTraining(training)" type="button" class="btn btn-primary btn-sm fa fa-edit" aria-hidden="true">Finalize</button>
          <button *ngIf="training.status === 'Confirmed'" (click)="cancelTraining(training)" type="button" class="btn btn-danger btn-sm fa fa-times icon-margin-left" aria-hidden="true">Cancel</button>
      </td>
    </tr>
  </tbody>
</table>